<?xml version='1.0' encoding='UTF-8'?> 
<manifest package='no.jujutsu.android.oppmote' android:versionCode='2' android:versionName='0.2' xmlns:android='http://schemas.android.com/apk/res/android'>
    <application android:icon='@drawable/icon' android:label='@string/app_name' android:theme="@android:style/Theme.Holo.Light">
        <activity android:label='@string/app_name' android:name='GroupList'>
            <intent-filter>
                <action android:name='android.intent.action.MAIN'/>
                <category android:name='android.intent.category.LAUNCHER'/>
            </intent-filter>
        </activity>
        <activity android:name='org.ruboto.RubotoActivity'/>
        <activity android:name='org.ruboto.RubotoDialog' android:theme='@android:style/Theme.Dialog'/>
        <activity android:name='OppmoteActivity'/>
        <activity android:name='MemberList'/>
        <service android:name='WifiDetectorService'/>
        <!-- <service android:name="WifiDetectorService" android:process=":no.jujutsu.android.oppmote.sync" 
			/> -->
        <service android:exported='false' android:name='org.ruboto.RubotoService'/>
        <activity android:configChanges='orientation' android:exported='false' android:name='org.ruboto.SplashActivity' android:noHistory='true'/>
    </application>
    <uses-sdk android:minSdkVersion='16' android:targetSdkVersion='16'/>
    <uses-permission android:name='android.permission.ACCESS_NETWORK_STATE'/>
    <uses-permission android:name='android.permission.ACCESS_WIFI_STATE'/>
    <uses-permission android:name='android.permission.CHANGE_WIFI_STATE'/>
    <uses-permission android:name='android.permission.INTERNET'/>
</manifest>
